# Data Science Tools and Ecosystem

In this notebook, Data Science and Ecosystem are summarized.

**Objectives:**
+ Insert code and markdown cells
+ Create a Jupyter Notebook
+ List popular languages for Data Science
+ List commonly used libraries used by Data Scientists
+ List Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. pandas
3. Matplotlib
4. seaborn
5. plotly
6. ggplot

| Data Science Tools |
| ----------------- |
| jupyter notebook |
| jupiterlab |
| Anaconda |
| VS code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Lakshmi Holla